.home-title {
  font-family: Poppins-Bold;
  font-size: 36px;
  color: rgb(252, 239, 239);
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}

.name-title {
  font-family: Poppins-Bold;
  font-size: 30px;
  color: rgb(206, 228, 9);
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}

.stock-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: rgb(252, 239, 239);
  padding: 50px;
}

.accounts-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: rgb(252, 239, 239);
  padding: 50px;
}

.bill-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: rgb(252, 239, 239);
  padding: 50px;
}

.stock-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;

  width: 100px;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  justify-content: center;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  display: inline;
}

.stock-btn:hover {
  background: #333333;
}

.accounts-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;

  width: 100px;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  justify-content: center;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  display: inline;
}

.accounts-btn:hover {
  background: #333333;
}

.bill-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;

  width: 100px;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  justify-content: center;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  display: inline;
}

.bill-btn:hover {
  background: #333333;
}

.logout-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;

  width: 100px;
  height: 50px;
  border-radius: 25px;
  background: #ff0000;
  justify-content: center;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  float: right;

  position: absolute;
  right: 30px;

  margin-top: 90px;
}

.bill-btn:hover {
  background: #333333;
}

.container-home {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

a {
  font-family: Montserrat-Bold;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}
